<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>
<form th:action="@{/userForm}" th:object="${user}" method="post">
    <p  th:if="${#fields.hasErrors('userId')}" th:class="${#fields.hasErrors('userId')}? error">
        User ID must be digits</p>
    <label for="userId">User ID:</label>
    <input type="text" th:field="*{userId}" id="userId" />
    <br />
    <label for="userName">User Name:</label>
    <input type="text" th:field="*{userName}" id="userName" />
    <br />
    <button type="submit">Submit</button>
</form>
</body>
</html>
